.container-fluid{
   display: flex;
   width: 5cm;
  margin-left: 40%;
   text-align: center;
}
.nav-head{
    padding-top: 5%;
    margin-left: 32%;
    font-weight:700;
    font-size:xx-large;
}
.container{
    display: block;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 1cm;
    background-color:skyblue;

}
.form {
    height: 1.5cm;
    width: 2.3cm;
    padding-left: 5px;
    padding-right: 6px;
    border-radius: 1.8mm;
    background-color: rgb(182, 187, 189);
    font-weight:400;
}
.board{
    margin-left: 20px;
    height: 1.5cm;
    width: 2.1cm;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 1.8mm;
    background-color: rgb(182, 187, 189);
    font-weight:400;
}
